<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InternetCafeSistem.Properties.Settings.InternetCafeConnectionString"
            connectionString="Data Source=DESKTOP-6KIJ0IH\SQLEXPRESS;Initial Catalog=InternetCafe;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>